.eventView {
  position: absolute;
  z-index: 7;
  top: 25%;
  left: 33%;
  width: 70%;
}
.eventView .btn-right {
  margin-left: 42%;
}

nav {
  border-radius: 10px;
}

.landingCon {
  color: white;
  height: 50%;
  width: 40%;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.75);
  background: #0575e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    rgba(2, 27, 121, 0.9),
    rgba(5, 117, 230, 0.9)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    rgba(2, 27, 121, 0.9),
    rgba(5, 117, 230, 0.9)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.rbc-toolbar {
  flex-wrap: wrap;
}
