.eventView {
  position: absolute;
  z-index: 7;
  top: 25%;
  left: 33%;
  width: 70%;
}
.eventView .btn-right {
  margin-left: 42%;
}

.landingCon {
  color: white;
  height: 50%;
  width: 40%;
  position: absolute;
  border-radius: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.rbc-toolbar {
  flex-wrap: wrap;
}

.maincontainer {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}
